body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none
}

a:hover {
    text-decoration: none
}

img {
    max-width: 100%
}

input:focus, button:focus {
    outline: none
}

.clear {
    clear: both
}
header .top.row{
    text-align: right;
}
header .top {
    height: 40px;
    border-bottom: 1px solid #999;
      text-align: right;
}
.top-menu a {
    color: black; /* Đặt màu chữ thành màu đen */
}
header .top .top-menu {
    
    text-align: right;
    line-height: 40px;
    color: #000; 
}

.icon-login,
.icon-register {
    margin: 0 10px; /* Khoảng cách 5px ở cả hai bên của icon-login và icon-register */
}


.user-profile {
    position: relative;
     margin-right: 100px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-info {
    position: absolute;
    top: 100%;
    right: 5px; /* Cách lề bên phải 10px */
    transform: translate(0, 5px); /* Dịch chuyển hiển thị một số khoảng */
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.profile-picture:hover .profile-info {
    display: block;
}

.profile-picture img {
    width: 100%;
    height: auto;
    margin-right: 30px;
}

.logout a {
    color: #333;
    text-decoration: none;
}

header .main-header {
    padding: 20px 0
}

header .main-header .logo img {
    max-height: 60px
}



header .main-header .form-seach-product .input-seach {
    width: calc(100% - 150px);
    position: relative;
    float: left
}

header .main-header .form-seach-product .input-seach input {
    height: 40px;
    width: 100%;
    border: 1px solid #fa8511;
    box-shadow: none;
    background: #fff;
    font-size: 14px;
    border-radius: 0 !important
}

header .main-header .form-seach-product .input-seach button {
    height: 40px;
    border-radius: 0 !important;
    width: 40px;
    background: none;
    color: #fa8511;
    position: absolute;
    right: 0;
    top: 0;
    border: 0 ;
}
/*...........*/
#club-table {
    display: none;
    position: absolute;
    background-color: orange;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid #ccc; /* Thêm viền 1px, màu xám nhạt */
    width: 150px; /* Đặt chiều rộng là 100px */
    z-index: 1; /* Đảm bảo bảng hiển thị trên phần ảnh */
}

#club-table a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #000; /* Màu chữ mặc định là đen */
}

#club-table a:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
    color: #000; /* Màu chữ khi hover vẫn là đen */
}
/*...........*/


header .main-menu-header {
    background: #fa8511; /* Màu nền của header */
    height: 40px; /* Chiều cao của header */
    display: flex; /* Sử dụng flexbox để canh giữa */
    align-items: center;
     margin-bottom: 0;/* Canh giữa theo chiều dọc */
}


header .main-menu-header #nav-menu ul li  {
    float: left;
    position: relative;
    border-left: 0.5px solid #aa881c; /* Viền bên trái */
    border-top: 2px solid transparent; /* Đặt viền trên thành không */
    border-right: none; 
    border-bottom: 2px solid transparent; 
    padding: 5px 10px;
    height: 30px;
}   
#nav-menu {
    padding: 10px 0;
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
}
header .main-menu-header #nav-menu ul li a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    line-height: 10px;
}
.carousel {
    border: 2px solid #fa8511; 
}

.table-container {
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    text-align: center;
    background-color: #fff; /* Màu nền mặc định là trắng cho toàn bộ bảng */
    margin-top: 10px; /* Khoảng cách 10px phía trên */
}

.table-container th,
.table-container td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  
}


footer {
    background: #333;
    color: #fff;
    padding-top: 40px
}

footer .box-footer h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 25px
}

footer .box-footer strong {
    font-weight: 500;
    color: #2196f3
}

footer .box-footer p {
    margin-bottom: 10px
}

footer .content-list li {
    margin-bottom: 15px
}

footer .content-list li .fa {
    color: #2196f3
}

footer .content-list li a {
    color: #fff
}

footer .content-contact .form-control {
    max-height: 80px;
    margin-bottom: 8px;
    font-size: 14px;
    box-shadow: none !important;
    border-radius: 2px;
    border: 1px solid #888888;
    background: #333
}

footer button.btn-contact {
    border-radius: 30px;
    border: 0;
    padding: 5px 20px;
    color: #fff;
    background: #2196f3
}

footer .copyright {
    text-align: center;
    padding: 10px;
    background: #4c4c4c;
    margin-top: 40px
}

footer .copyright p {
    margin-bottom: 0
}
.bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000; 
    margin-right: 5px; /* Khoảng cách giữa dấu chấm và nội dung */
}

/* Chữ */
.content {
    color: #2196f3; /* Màu xanh nhạt */
}

/* Phân trang */
.pagination {
    margin-top: 20px; /* Khoảng cách giữa bảng và phân trang */
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50; /* Màu nền khi được chọn */
    color: white;
}
.white-frame {
    height: 40px; /* Độ cao của khung trắng */
    width: 100%; /* Chiều rộng bằng với toàn bộ màn hình */
    background-color: white; /* Màu nền của khung trắng */
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 10px;
     margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao của button-container bằng với chiều cao của viewport */
}

.view-all-button {
    background-color: white;
    color: orange;
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid orange;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.view-all-button:hover {
    background-color: orange;
    color: white;
}



.full-screen-container .background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    object-fit: cover; /* Đảm bảo hình ảnh nền được hiển thị đầy đủ trong khung */
}

.title {
    position: absolute;
    top: 10px; /* Cách dịa trên 10px */
    left: 50%;
    transform: translateX(-50%); /* Dịch chuyển tiêu đề vào giữa theo chiều ngang */
    color: white; /* Màu chữ */
    z-index: 1; /* Đảm bảo tiêu đề hiển thị trên hình ảnh */
    text-align: center; /* Căn giữa nội dung tiêu đề */
    line-height: 1.5;
}
/*# sourceMappingURL=main.css.map */
.full-screen-container {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 20px;
}



.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    max-width: 1200px;
    margin-top: 40px;
}

.event {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    width: 18%; /* Mỗi ảnh chiếm 18% của container */
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden; /* Đảm bảo ảnh không vượt ra khỏi khung */
}

.event img.event-image {
    width: 100%;
    height: 70%; /* Đảm bảo hình ảnh được hiển thị đầy đủ trong khung */
    border-radius: 8px;
    object-fit: cover; 
    /* Đảm bảo hình ảnh được hiển thị đầy đủ trong khung */
}

.event h2 {
    margin-top: 10px;
}


/* .............*/
.full-height-container {
    height: 600px; 
    width: 100vw; 
    background-color: #bbbbbb; 
    display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
    justify-content: center; /* Căn giữa nội dung theo chiều ngang */
    align-items: center;
}
.inner-container {
   width: 70%; /* Độ rộng của khung con là 70% chiều rộng của khung cha */
    height: 100%; /* Khung con chiếm toàn bộ chiều cao của khung cha */
    background-color: #f0f0f0; /* Màu nền của khung con */
    /* Các thuộc tính khác tùy chỉnh */
    border: 2px solid #ccc; /* Thêm viền với độ dày 2px và màu xám nhạt */
    box-sizing: border-box;
     padding: 0; /* Xóa padding để bảng nằm hoàn toàn trong */
    margin: 0;
}


.inner-container table {
    width: 100%; /* Bảng chiếm toàn bộ chiều rộng của .inner-container */
    height: 100%; /* Bảng chiếm toàn bộ chiều cao của .inner-container */
    border-collapse: collapse; /* Loại bỏ khoảng cách giữa các ô */
}

.left-column,
.right-column {
    width: 50%; /* Mỗi cột chiếm 50% chiều rộng của bảng */
    padding: 20px; /* Thêm padding để tạo khoảng cách giữa các phần tử trong cột */
    box-sizing: border-box; /* Tính cả border và padding vào kích thước tổng của cột */
}

.left-column{
    background-color: #FFA500;
    
}
.left-content,
.right-content {
    height: 500px; /* Các phần tử con chiếm toàn bộ chiều cao của cột */
}
.left-content, .right-content {
    padding: 0px;
}

.left-content h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, sans-serif; 
    font-weight: bold;
}

.left-content img {
    display: block;
    margin: 0 auto;
    width: 100%; /* Chiều rộng là 90% */
    height: 85%; /* Chiều cao là 60% */
    object-fit: cover; /* Đảm bảo hình ảnh được hiển thị đầy đủ trong khung */
    
}
.left-content h3 {
    margin-top: 10px; /* Thiết lập khoảng cách lề trên là 30px */
    text-align: center; /* Căn giữa tiêu đề */
}
.right-content h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.right-content ul {
    list-style-type: none;
    padding: 0;
}

.right-content li {
    margin-bottom: 24px;
    position: relative;
}

.right-content li::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Khoảng cách 5px từ phía dưới của văn bản */
    left: 0;
    width: 100%;
    height: 1px; 
    border-bottom: 2px dashed; /* Loại gạch chân và khoảng cách 5px */
}
.bold-before-colon {
    font-weight: bold;
}