@media (max-width: 992px) {
    /* Ẩn nửa bên trái trên các thiết bị có độ rộng màn hình nhỏ hơn 992px */
    .col-md-6 {
        display: none;
    }
}
@media (max-width: 768px) {
    .event {
        width: 45%; /* Thay đổi kích thước của ảnh cho các màn hình nhỏ hơn */
    }
}

@media (max-width: 576px) {
    .event {
        width: 90%; /* Thay đổi kích thước của ảnh cho các màn hình nhỏ hơn */
    }
}